<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Index</title>
</head>

<body>
    <h1>Cadastro Usuário</h1>
    {% if nome %}
    <h2>Seu nome é {{nome}}</h2>
    {% endif %}

    {% if telefone %}
    <h2>Seu telefone é {{telefone}}</h2>
    {% endif %}

    {% if email %}
    <h2>Seu email é {{email}}</h2>
    {% endif %}

    {% if id %}
    <h2>Seu id é {{id}}</h2>
    {% endif %}

</body>

</html>
